.error-msg,
#results {
  display: none;
}
body.error .error-msg {
  display: block;
}
body.result header {
  display: none;
}
body.result #choose {
  display: none;
}
body.result #results {
  display: block;
}
a {
  color: #474747;
  text-decoration: underline;
}
a:hover,
a:focus {
  color: #ed1f24;
  text-decoration: underline;
}
::-moz-selection {
  background: #ed1f24;
  color: white;
  text-shadow: none;
}
::selection {
  background: #ed1f24;
  color: white;
  text-shadow: none;
}
button {
  display: inline-block;
  background-color: #ed1f24;
  color: white;
  text-transform: uppercase;
  font-size: 120%;
  font-weight: 700;
  border: none;
  padding: 0.5em 1em;
  margin: 2em 0 0;
}
button:hover {
  cursor: pointer;
  background-color: #9a0c10;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 14px;
  line-height: 1.4em;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  color: #474747;
}
strong,
b {
  font-weight: 700;
  color: #ed1f24;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0;
  color: #474747;
}
h1 b,
h2 b,
h3 b,
h4 b,
h5 b,
h6 b {
  display: block;
  position: relative;
  top: -0.1em;
}
h1 {
  font-size: 160%;
  line-height: 1.8em;
  text-transform: uppercase;
  width: 90%;
  text-align: center;
  margin: 0 auto 0.5em;
}
h1:before {
  content: '';
  display: block;
  width: 130px;
  height: 130px;
  white-space: nowrap;
  background-color: transparent;
  background-image: url("../img/shotgun.svg");
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  margin: 0 auto;
}
h1 b {
  font-size: 220%;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
ul li,
ol li {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
  margin: 0 0 2em;
}
figure {
  margin: 0;
  padding: 0;
}
figure img {
  width: 100%;
  height: auto;
}
main {
  background: #ffffff;
  padding: 2em 0 0;
  margin: 0 0 3em;
}
@media (min-width: 760px) {
  main {
    background: #ffffff url('../img/tomeke-bg.jpg') center top no-repeat;
    padding-top: 3em;
  }
}
@media (min-width: 830px) {
  main {
    background-position: center 2em;
    padding-top: 4.5em;
  }
}
header {
  margin: 0 0 3em;
}
@media (min-width: 760px) {
  header {
    margin: 0 0 5.5em;
  }
}
header p {
  width: 90%;
  text-align: center;
  font-size: 120%;
  margin: 0 auto 0.5em;
}
section {
  width: 90%;
  max-width: 2000px;
  margin: 0 auto;
  overflow: hidden;
}
.videos {
  background-color: #eeeeee;
  padding: 2em;
  border-radius: 5px;
}
.videos p {
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  margin-bottom: 2em;
}
.videos div.select-all {
  margin: 0 0 1.5em;
}
.videos div.actions {
  text-align: center;
}
@media (min-width: 500px) {
  .videos ol {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
  }
}
@media (min-width: 768px) {
  .videos ol {
    -webkit-columns: 3;
    -moz-columns: 3;
    columns: 3;
  }
}
@media (min-width: 1100px) {
  .videos ol {
    -webkit-columns: 4;
    -moz-columns: 4;
    columns: 4;
  }
}
@media (min-width: 1500px) {
  .videos ol {
    -webkit-columns: 5;
    -moz-columns: 5;
    columns: 5;
  }
}
#results {
  text-align: center;
}
a.reset {
  display: block;
  font-size: 90%;
  margin: 1em 0 0;
}
.error-msg {
  border: 1px solid #ed1f24;
  border-radius: 5px;
  background-color: #fcdcdd;
  padding: 1em;
  text-align: center;
  margin: 0 0 2em;
}
.error-msg h1:before {
  display: none;
}
.error-msg p {
  margin: 1em 0 0;
}
footer {
  width: 100%;
  padding: 0.5em 0;
  font-size: 90%;
}
footer div {
  width: 90%;
  max-width: 2000px;
  margin: 0 auto;
  overflow: hidden;
}
footer p {
  text-align: center;
  margin: 0;
}
@media (min-width: 830px) {
  footer {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    background-color: #474747;
    color: white;
  }
  footer p {
    text-align: left;
    width: 50%;
    float: left;
  }
  footer p.author {
    text-align: right;
  }
  footer a {
    color: white;
  }
}
